
*{
    margin: 0;
    padding: 0;
    
    overflow-x: hidden;
}

body{
    width: 100%;
    background-color: rgb(230, 230, 230);

  }


#overskrift{
    padding: 20px;
    margin: 0px auto ;

    font-family: Verdana, Tahoma, sans-serif;

    width: 90%;
    

    border-left: 2px solid rgb(170, 170, 170);
    border-right: 2px solid rgb(170, 170, 170);
    border-bottom: 2px solid rgb(170, 170, 170);
    background-color: white;
}



#overskrift > h1{
    position: absolute;
    top: 60px;
    margin-left: 150px;
}


.navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 18px;
    margin-top: 60px;
}


.navbar ul li{
    padding: 5px;
}


.navbar ul li a{
    text-decoration: none;
    color: #000;
}

.navbar > ul > li > a:hover{
    color: green;
}

@media(max-width: 800px){
    .navbar ul{
        flex-direction: column;
    }

    .navbar ul li{
        display: flex;
        justify-content: center;
    }
}

#innhold{
    padding: 20px;
    margin: 0px auto;

    width: 90%;

    border-left: 2px solid rgb(170, 170, 170);
    border-right: 2px solid rgb(170, 170, 170);
    border-bottom: 2px solid rgb(170, 170, 170);

    background-color: white;
}